# Ignore all the thumbnail cache files
Thumbs.db

# Always ignore the production settings
settings-production.json

# Ignore customs scripts
*.bat

# Ignore mup json
mup.json

# Ignore trello api key&secret
trelloapiaccess.json